

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>登录</title>
</head>
<body>
<h1>
<p style="text-align:center" font size="2">输入一些东西</p>


</h1>
<h1>
<p style="text-align:center">输入啊：</p>
</h1>
<form action="/ground/" method="post">
{% csrf_token %}
<p style="text-align:center">颜色：<input type="text" name="color" /><br /></p>
<p style="text-align:center">出校or入校：<input type="text" name="st" /><br /></p>
<br/>
<input style="text-align:center" type="submit" value="提交" /></input>
</form>

</body>
</html>
